        /* --- RESET & GLOBAL --- */
        * { box-sizing: border-box; margin: 0; padding: 0; font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }
        
        body {
            background-color: #f2f2f7;
            display: flex;
            justify-content: center;
            min-height: 100vh;
        }

        .app-container {
            width: 100%;
            max-width: 414px; 
            background-color: #ffffff;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            position: relative;
            padding-bottom: 80px; /* Espace pour la navbar */
            box-shadow: 0 0 20px rgba(0,0,0,0.05);
        }

        img{
            width: 100%;
        }