        /* --- RESET & GLOBAL --- */
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #f2f2f7; /* Gris clair iOS */
            display: flex;
            justify-content: center;
            min-height: 100vh;
            width: 100vw;
        }